In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../CSV/TCS.csv')
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94

In [8]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [9]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,4.980000e+02,4.980000e+02,498.00000,4.980000e+02,498.000000
mean,2385.881124,2383.074699,2408.793876,2359.566767,2383.857129,2384.232430,2384.496084,2.145824e+06,4.892021e+09,95057.87751,1.174299e+06,56.593494
std,462.769594,460.750575,469.944735,457.205313,462.683009,463.104214,464.115880,2.571963e+06,6.631575e+09,57544.56963,1.597305e+06,12.990890
min,1721.600000,1723.000000,1734.900000,1711.150000,1723.000000,1721.600000,1725.850000,4.341100e+04,1.120856e+08,1.00000,0.000000e+00,0.000000
25%,1987.912500,1989.475000,2005.500000,1973.250000,1988.887500,1987.912500,1988.825000,9.305855e+05,2.410861e+09,50926.25000,5.347965e+05,47.932500
50%,2396.450000,2381.500000,2423.550000,2363.725000,2393.225000,2395.150000,2399.405000,1.688115e+06,3.941426e+09,86726.00000,9.059855e+05,56.700000
75%,2636.637500,2634.350000,2668.750000,2617.662500,2635.000000,2636.637500,2641.112500,2.611122e+06,5.681952e+09,125586.75000,1.463368e+06,66.310000
max,3603.700000,3625.000000,3674.800000,3572.550000,3610.750000,3603.700000,3633.110000,4.403358e+07,1.268362e+11,482657.00000,3.155626e+07,100.000000

In [10]:
pd.isnull(df).any()

Symbol                    False
Series                    False
Date                      False
Prev Close                False
Open Price                False
High Price                False
Low Price                 False
Last Price                False
Close Price               False
Average Price             False
Total Traded Quantity     False
Turnover                  False
No. of Trades             False
Deliverable Qty           False
% Dly Qt to Traded Qty    False
dtype: bool

In [11]:
df = df.drop(df.loc[df.Series!='EQ','Series'].index)

In [12]:
df1 = df['Close Price'].tail(90)

In [13]:
print("Max Price",max(df1))
print("Min Price",min(df1))
print("Mean Price",df1.mean())

Max Price 2260.35
Min Price 1813.25
Mean Price 2015.4722222222215

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 497
Data columns (total 15 columns):
Symbol                    494 non-null object
Series                    494 non-null object
Date                      494 non-null object
Prev Close                494 non-null float64
Open Price                494 non-null float64
High Price                494 non-null float64
Low Price                 494 non-null float64
Last Price                494 non-null float64
Close Price               494 non-null float64
Average Price             494 non-null float64
Total Traded Quantity     494 non-null int64
Turnover                  494 non-null float64
No. of Trades             494 non-null int64
Deliverable Qty           494 non-null int64
% Dly Qt to Traded Qty    494 non-null float64
dtypes: float64(9), int64(3), object(3)
memory usage: 61.8+ KB

In [15]:
df['Date'].dtype

dtype('O')

In [16]:
df['Date'] = pd.to_datetime(df['Date'])

In [17]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,2017-05-15,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,2017-05-16,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,2017-05-17,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,2017-05-18,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,2017-05-19,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94

In [18]:
max(df['Date']) - min(df['Date'])

Timedelta('728 days 00:00:00')

In [19]:
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Year'] = pd.DatetimeIndex(df['Date']).year

In [20]:
df['PxV'] = df['Close Price'] * df['Total Traded Quantity']

In [21]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,PxV
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5,2019,4.737944e+09
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5,2019,3.928725e+09
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5,2019,4.919005e+09
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5,2019,4.356248e+09
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5,2019,3.622588e+09

In [22]:
month_group = df.groupby('Month')
year_group = df.groupby('Year')

In [23]:
vwap = []
for month,df2 in month_group:
    vwap.append(sum(df2['PxV'])/sum(df2['Total Traded Quantity']))
vwap

[2202.753879109602,
 2272.9968008376104,
 2515.290263283628,
 2664.5163181301236,
 2782.86498916164,
 1981.5969452388758,
 2053.8642458785434,
 2149.514964811345,
 2211.631284906202,
 2093.692094040236,
 2119.790156450267,
 2148.7719306967406]

In [24]:
def average_price(n):
    return df['Close Price'][-n:].mean()

def profit_loss_percent(n):
    return ((df['Close Price'].iloc[-1] - df['Close Price'].iloc[-n])/df['Close Price'].iloc[-1])*100

In [25]:
print("Average Price over Last:\n\n1 week : {}\n2 weeks: {}\n1 month: {}\n3 months: {}\n6 months: {}\n1 year: {}".format(average_price(7),average_price(14),average_price(30),average_price(90),average_price(180),average_price(365)))

print("\n\nProfit/Loss % over Last:\n\n1 week : {}\n2 weeks: {}\n1 month: {}\n3 months: {}\n6 months: {}\n1 year: {}".format(profit_loss_percent(7),profit_loss_percent(14),profit_loss_percent(30),profit_loss_percent(90),profit_loss_percent(180),profit_loss_percent(365)))

Average Price over Last:

1 week : 2147.3928571428573
2 weeks: 2174.3571428571427
1 month: 2109.8516666666665
3 months: 2015.4722222222215
6 months: 2003.0983333333324
1 year: 2345.070000000003


Profit/Loss % over Last:

1 week : -0.15267175572519084
2 weeks: -1.536112742219604
1 month: 7.55607751027598
3 months: 11.072225484439228
6 months: 5.881385789782739
1 year: -27.177921315325904

In [26]:
df['Day_Perc_Change'] = df['Close Price'].pct_change()

In [27]:
df['Day_Perc_Change'][0] = 0
df.head()

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,PxV,Day_Perc_Change
0,TCS,EQ,2017-05-15,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2.149408e+09,0.000000
1,TCS,EQ,2017-05-16,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,4.373716e+09,0.027081
2,TCS,EQ,2017-05-17,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,3.531036e+09,0.010786
3,TCS,EQ,2017-05-18,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,6.516251e+09,0.032928
4,TCS,EQ,2017-05-19,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2.238940e+09,-0.011454

In [28]:
def trend(n):
    if n>-0.5 and n<0.5:
        return "Slight or No change"
    elif n>0.5 and n<1:
        return "Slight positive"
    elif n>-1 and n<-0.5:
        return "Slight negative"
    elif n>1 and n<3:
        return "Positive"
    elif n>-3 and n<-1:
        return "Negative"
    elif n>3 and n<7:
        return "Among top gainers"
    elif n>-7 and n<-3:
        return "Among top loosers"
    elif n>7:
        return "Bull run"
    elif n<-7:
        return "Bear drop"
    
df['Trend'] = df['Day_Perc_Change'].apply(trend)

In [29]:
trend_group = df.groupby('Trend')
print("Average")
for i,j in trend_group:
    print(i,end = " :")
    print(j['Total Traded Quantity'].mean())
print("Median")
for i,j in trend_group:
    print(i,end = " :")
    print(j['Total Traded Quantity'].median())

2154751.3360323887
Average
Slight negative :5049371.0
Slight or No change :2148879.896551724
Median
Slight negative :5049371.0
Slight or No change :1691756.0

In [30]:
df.to_csv('../CSV/week2.csv')

In [31]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,PxV,Day_Perc_Change,Trend
0,TCS,EQ,2017-05-15,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2.149408e+09,0.000000,Slight or No change
1,TCS,EQ,2017-05-16,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,4.373716e+09,0.027081,Slight or No change
2,TCS,EQ,2017-05-17,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,3.531036e+09,0.010786,Slight or No change
3,TCS,EQ,2017-05-18,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,6.516251e+09,0.032928,Slight or No change
4,TCS,EQ,2017-05-19,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2.238940e+09,-0.011454,Slight or No change